body {
    background-color: #21233D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0;
    padding: 10px;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    body {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

        .contenedor-imagen {
            position: relative;
            border: 3px solid black;
            width: 100%;
            height: auto;
            transition: all 0.3s ease;
            overflow: visible;
        }
        
        .contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
        
        .contenedor-imagen img:focus {
    outline: none;
    box-shadow: 0 0 10px 3px #1e90ff, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
    border: 2px solid #1e90ff;
    transform: scale(1.05);
    animation: none;
}

.contenedor-imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

        img {
            width: 100%;
            height: auto;
        }

        .favoritos {
            position: absolute;
            bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
            font-size: 20px;
            color: gray;
            cursor: pointer;
            transition: color 0.3s ease;
            z-index: 10;
            
        }

        .favoritos.marcar {
            color: red;
        }

        img:active {
            animation: neon-border 1.5s infinite;
        }

        @keyframes neon-border {
            0% {
                box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF;
                border-color: #00FFFF;
            }
            25% {
                box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF, 0 0 40px #FF00FF;
                border-color: #FF00FF;
            }
            50% {
                box-shadow: 0 0 10px #FFFF00, 0 0 20px #FFFF00, 0 0 30px #FFFF00, 0 0 40px #FFFF00;
                border-color: #FFFF00;
            }
            75% {
                box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF, 0 0 40px #FF00FF;
                border-color: #FF00FF;
            }
            100% {
                box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF;
                border-color: #00FFFF;
            }
        }

        a {
            text-decoration: none;
        }

        #mensaje {
            position: fixed;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            background-color: #21233D;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            display: none;
            z-index: 1000;
          }
