* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Orbitron, sans-serif;
    background-color: #21233D;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.slider-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.slide {
    flex: 0 0 100vw;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slider .slide {
    position: relative;
    overflow: hidden;
}

.slider .slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #21233D 100%);
    pointer-events: none;
    z-index: 1;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-90%); }
}

@media (orientation: landscape) {
    .slider .slide img {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}

.title-description {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    overflow: visible;
}

.title-description h2 {
    font-family: PT Sans, sans-serif;
    font-size: 1.3em;
    color: white;
    margin-bottom: 1px;
    text-align: center;
}

.title-description p {
    font-family: PT Sans, sans-serif;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.1;
    margin: 0;
    text-align: center;
}

.navigation-manual {
    position: relative;
    bottom: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;   
    z-index: 3;
    margin-bottom: 15px;
}

.manual-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 0 8px #005EFF;
}

.manual-btn.active {
    border-color: #005EFF;
    background-color: #21233D;
    box-shadow: 0 0 10px 2px #005EFF;
}

.menu-horizontal {
    z-index: 200;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #21233D;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: sticky;
    margin-bottom: 20px;
    top: 0;
    padding: 5px 0;
    width: 100%;
}

.opcion-menu {
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, background-color 0.3s ease;
    flex-shrink: 0;
    font-family: PT Sans, sans-serif;
    font-weight: bold;
}

.opcion-menu.activa {
    color: black;
    background-color: white;
    border-radius: 10px;
    position: relative;
    font-weight: 900;
}

.opcion-menu.activa::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #005EFF;
    border-radius: 2px;
}

.opcion-menu:hover {
    color: black;
}

@media (max-width: 768px) {
    .menu-horizontal {
        height: auto;
        overflow-x: scroll;
    }

    .opcion-menu {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .menu-horizontal {
        justify-content: flex-start;
    }

    .opcion-menu {
        font-size: 12px;
        padding: 5px 8px;
    }
}

.contenedor-general {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .contenedor-general {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .contenedor-general {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.contenedor-imagen {
    position: relative;
    width: 100%;
    overflow: visible;
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contenedor-imagen img:focus {
    outline: none;
    box-shadow: 0 0 10px 3px #1e90ff;
    border: 3px solid #1e90ff;
    transform: scale(1.05);
    border-radius: 10px;
}

.etiqueta {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10;
}

.etiquetax {
    position: absolute;
    bottom: 5%; /* Mantiene la posición abajo */
    right: 5px; /* Siempre a la derecha */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    z-index: 10;
}

@media (orientation: landscape) {
    .etiquetax {
        bottom: 5%;
        right: 5px;
    }
}

.favoritos {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.favoritos.marcado i {
    color: red;
}

.footer {
    text-align: center;
    padding: 0;
    font-size: 0.7em;
    color: white;
    background-color: #21233D;
    border-top: 1px solid #555;
    font-family: Arial, sans-serif;
}

.logo-container {
    margin: 5;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo-container img {
    max-width: 150px;
    height: auto;
}

.contact-section {
    text-align: center;
    margin-bottom: 15px;
}

.contact-section h2 {
    font-family: PT Sans, sans-serif;
    font-size: 0.8em;
    color: white;
    margin-bottom: 10px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.contact-icons img:hover {
    transform: scale(1.1);
}

.contact-icons img:active {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.favorite-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: PT Sans, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: list;
}